@model List<Category>

    <h1> Kategoriler </h1>

    <a class="btn btn-info" asp-controller="Category" asp-action="CreateCategory"> Yeni Kategori Eklemek İçin Tıklayınız </a>
    <br />

<table class="table table-hover">
    <thead>
        <tr>
            <th> Kategori ID </th>
            <th> Kategori Ismi </th>
            <th> Açıklama </th>
            <th> Güncelle </th>
            <th> Sil </th>
            <th> Session'da Sakla </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td> <a class="btn btn-success" asp-controller="Category" asp-action="UpadteCategory" asp-route-id="@item.CategoryId"> Güncelle </a> </td>
                <td> <a class="btn btn-danger" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@item.CategoryId"> Sil </a> </td>
                <td> <a class="btn btn-secondary" asp-controller="Category" asp-action="CreateSession" asp-route-id="@item.CategoryId"> Sakla </a> </td>
            </tr>
        }    
    </tbody>
</table>